/*HOME PAGE*/

/*Navbar*/
body {
    font-family: "Montserrat"
}

.navbar {
  width: 80%;
  overflow:auto;
  margin:auto;
}

.nav-logo {
  float: left;
  padding: 14px;
  text-decoration: none;
  font-size: 20px;
  width: 80px;
  height: 50px;
}

.navbar a {
  float: right;
  padding: 14px;
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  color: white;
}

/*Sakura Cafe Heading*/
h1 {
    text-align: center;
    margin-top: 110px;
    margin-bottom: 15px;
    font-size: 44px;
    line-height: 62px;
    font-weight: 400;
}

/*Label Light*/
.label-light {
  margin-top: 77px;
  margin-bottom: 18px;
  text-align: center;
  opacity: 0.6;
  letter-spacing: 0.2em;
}

/*Small (Motto) Heading*/
.heading-small {
  text-align: center;
  font-size: 36px;
}

/*Line Separater*/
hr {
  margin: 100px;
}

/*ABOUT SECTION*/

/*Label Light-left*/
.label-light-left {
  opacity: 0.6;
  text-align: left;
  margin-left: 150px;
}

/*Who We Are Heading*/
.wwa-heading-small {
  text-align: left;
  font-size: 30px;
  margin: 150px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/*WWA Paragraph*/
.paragraph-light-left {
  text-align: left;
  margin: 150px;
  margin-top: auto;
  margin-bottom: 10px;
}

/*Button-left*/
.button-left {
  background-color: pink;
  border: none;
  color: white;
  padding: 12px 26px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  margin-left: 150px;
  letter-spacing: 0.2em;
  line-height: 25px;
}

/*WWA Image*/
.wwa-image {
  margin-left: 690px;
  margin-top: -330px;
}

/*OUR CAFE SECTION*/

/*Label Light-right*/
.label-light-right {
  opacity: 0.6;
  text-align: right;
  margin-right: 140px;
}

/*Our Quiz! Heading*/
.oq-heading-small {
  text-align: right;
  font-size: 30px;
  margin: 190px;
  margin-right: 140px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/*OQ Paragraph*/
.paragraph-light-right {
  text-align: right;
  margin: 190px;
  margin-right: 140px ;
  margin-top: auto;
  margin-bottom: 10px;
}

/*Button-right*/
.button-right {
  background-color: pink;
  border: none;
  color: white;
  padding: 12px 26px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  margin-left: 1050px;
  letter-spacing: 0.2em;
  line-height: 25px;
}

/*OQ Image*/
.oq-image {
  margin-left: 150px;
  margin-top: -330px;
}

/*License Image*/
.license {
  margin-left: 780px;
  width: 80px;
  height: 50px;
}

/*License Label Light*/
.license-label-light {
  opacity: 0.6;
  margin-right: 200px;
  margin-top: 100px;
}

/*PERSONALITY QUIZ PAGE*/

/*Japanese Culture Descriptions*/
.paragraph-light-center {
  text-align: center;
  margin: 190px;
  margin-top: auto;
  margin-bottom: 10px;
  opacity: 0.6;
}

/*OUR VALUES*/
.center-values {
  margin-left: 560px;
}

